*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
*.o
*.so
mkmf.log
ext/types/*.c
ext/narray/narray_config.h
ext/narray/Makefile
TAGS
ext/narray/bit.c
ext/narray/dcomplex.c
ext/narray/dfloat.c
ext/narray/int16.c
ext/narray/int32.c
ext/narray/int64.c
ext/narray/int8.c
ext/narray/robject.c
ext/narray/scomplex.c
ext/narray/sfloat.c
ext/narray/uint16.c
ext/narray/uint32.c
ext/narray/uint64.c
ext/narray/uint8.c

