*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
*.o
*.so
mkmf.log
bit.c
dcomplex.c
dfloat.c
int16.c
int32.c
int64.c
int8.c
robject.c
scomplex.c
sfloat.c
uint16.c
uint32.c
uint64.c
uint8.c
ext/narray/narray_config.h
ext/narray/Makefile
TAGS
*.RUBYARCHDIR*
