*.gem
*.rbc
.bundle
.config
.yardoc
yard
api
Gemfile.lock
InstalledFiles
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
*.o
*.so
mkmf.log
ext/numo/narray/types/*.c
ext/numo/narray/numo/extconf.h
ext/numo/narray/Makefile
ext/numo/narray/depend
TAGS
t.rb
